*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.backColor{
  background-color: rgb(29, 29, 29);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.QestionsCont{
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 550px;
  height: 420px;
  padding: 20px;
  border: 1px solid black;
}
.question{
  width: 100%;
  padding: 7px;
  margin-bottom: 20px;
}
.answer{
  width: 100%;
  padding: 7px;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
}
.QestionsCont h2{
  margin-bottom: 10px;
  
}
.QestionsCont hr{
  margin-bottom: 20px;
}
.nextCont{
  width: 100%;
  display: flex;
  justify-content: center;
}
.next{
  padding: 5px;
  width: 150px;
  background-color: rgb(26, 26, 26);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}
.answersContainer{
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#correct{
  background-color: rgb(90, 241, 90);
  color: white;
}
#incorrect{
  background-color: rgb(211, 57, 57);
  color: white;
}

